html, body{
	margin: 0;
	padding: 0;
	font-family: "Calibri", sans-serif;
	color: #264d73;
}

#firstBK{
	width: 100vw;
	height: 30vh;
	background-color: #ffdd99;
	position: relative;

}

#title{
	/*position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%,-50%);*/
	margin: 0;
	padding-top: 80px;
	text-align: center;
	font-size: 40px;
	color: #264d73;
}

#subtitle{
	/*position: absolute;*/
	text-align: center;
	font-size: 20px;
	margin: 10px 15%;
	color: #264d73;
}

#secondBK{
	width: 100vw;
	height: 38vw;
	background-color: white;
	position: relative;
	padding-bottom: 60px;
}

.infography{
	width: 20vw;
	display: inline-block;
	margin-top: 50px;
}

#info1{
	position: absolute;
	left: 10vw;
}

#info2{
	position: absolute;
	left: 50vw;
	transform: translate(-50%);
}

#info3{
	position: absolute;
	right: 10vw;
}

.infoimg{

	width: 100%;
	margin-top: 50px;
	/*display: inline-block;*/
}

.data{
	text-align: center;
	color: #264d73;
	margin-top: 20px;
	/*display: block;*/
}

#thirdBK{
	width: 100vw;
	background-color: #ffdd99;
	padding: 100px 10vw;
	position: relative;
	overflow: auto;
}

#cases{
	text-align: center;
	
	font-size: 40px;
	margin: 0;
}

.container{
	width: calc(80vw / 2);
	/*height: 50vw;*/
	
	position: relative;
	margin-top: 100px;
	/*background-color: red;*/
}

#box1{
	display: inline-block;
	width: 40%;
	height: 100%;
	/*background-color: green;*/
}

#box2{
	display: inline-block;
	position: absolute;
	margin-left: 6%;
	margin-top: 0;
	width: 41%;
	height: 100%;
	/*background-color: yellow;*/
}

.image{
	margin-left: 50%;
	transform: translate(-50%);
	width: 80%;
}

.name{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 32px;
	font-weight: bold;
	color: #264d73;
}

.time{
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	color: #264d73;
}

.brief{
	font-size: 36px;
	font-weight: bold;
	color: #264d73;
	margin: 0;
}

.briefIntro{
	width: 100%;
	font-size: 20px;
	line-height: 1.5;
	color: #264d73;
	margin-top: 15px;
}

.linkImage{
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 5px;
	width: 30px;
}


@media(min-width: 1200px){
	.briefIntro{
	
	/*font-size: 22px;*/
	
}
.container{
	float: left;
}

#cases{
	width: 80%;
}
}



@media (min-width: 950px) and (max-width: 1200px){
  
.name{
	/*font-size: 22px;*/

}

.brief{
	/*font-size: 32px;*/
}

.linkImage{
	width: 25px;
}

.briefIntro{
	
	/*font-size: 18px;*/
	
}
.container{
	float: left;
}

#cases{
	width: 80%;
}

}

@media (max-width: 950px) {
.container{
	width: 80vw;
	/*float: left;*/
}

.name{
	/*font-size: 26px;*/

}

.brief{
	/*font-size: 38px;*/
}

.linkImage{
	width: 25px;
}

.briefIntro{
	
	/*font-size: 26px;*/
	
}

#cases{
	width: 80%;
}
}


/*mobile*/
@media only screen and (orientation: portrait){

#firstBK{
	height: 50vw;
}
#title{
	padding-top: 14vw;
	font-size: 6em;
}

#subtitle{
	font-size: 2.5em;
	line-height: 1.5;
	margin: 0px 20% 10px !important;
}

#secondBK{
	padding-bottom: 10vw;
	padding-top: 10vw;
	height: auto;
}

.infography{
	width: 80%;
	/*height: 620px;*/
	margin-top: 0 !important;
	display: block;
}

#info1{
	position: relative;
}

#info2{
	position: relative;

}

#info3{
	position: relative;
	left: 10vw;
	margin-top: 20px;
}

.infoimg{
	width: 60%;
	margin-left: 50%;
	transform: translate(-50%);
}

.data{
	margin-top: 50px;
	font-size: 1em;
	line-height: 1.5;
	width: 80%;
	margin-left: 50%;
	transform: translate(-50%);
	/*display: block;*/
}

#thirdBK{
	padding: 10vw 0;
	/*overflow: visible;*/
}

#cases{
	text-align: center;
	font-size: 86px;
	margin-top: 0vw;
	width: 100%;
}

.container{
	width: 85vw;
	height: 45vw;
	margin:10vw auto 0px;
	float: none;
	/*background-color: red;*/
}

#box1{
	display: inline-block;
	width: 40%;
	height: 100%;
	margin-left: 20px;
	/*background-color: green;*/
}

#box2{
	display: inline-block;
	position: absolute;
	margin-left: 6%;
	margin-top: 0;
	width: 41%;
	height: 50vw;
	/*background-color: yellow;*/
}

.image{
	margin-left: 50%;
	transform: translate(-50%);
	width: 80%;
}

.name{
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 40px;
}

.time{
	margin-top: 10px;
	font-size: 34px;
}

.brief{
	font-size: 48px;
	margin-top: 10px;
}

.linkImage{
	position: absolute;
	right: 0;
	top: 0;
	width: 46px;
	margin-top: 10px;
}

.briefIntro{
	font-size: 34px;
	line-height: 1.5;
	color: #264d73;
	margin-top: 15px;
}
}